#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}



#wordInput, #underlines {
  border-radius: 0.1em;
  font-size: 3em;
  font-family: monospace;
  /* text-align: center; */
  transition: all 0.5s;
  padding: 0.2em 0.5em 0.25em 0.5em;
  letter-spacing: 0.2ch;
  border-style: inset;
  border-width: 0;
  /* overflow: hidden; */
}

#wordInput {
  /* outline: rgb(119, 119, 119);
  outline-style: solid; */
  /* display: block; */
	/* margin: 2em auto; */
	/* border: none; */
	padding: 0;
  outline: none;
  outline-offset: 0.1em;
  outline-color: dimgray;
  margin-right: 20px;
}

#wordForm {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#wordInputWrapper{
  position: relative;
}

#submitButton, #playWordBtn, #playDefBtn, #quitBtn, #startBtn {
  font-size: 2em;
  text-align: center;
}

#quitBtn:hover{
  /* background: red; */
  /* border: none; */
  transition: all 0.5s;
}

#underlines {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none
}

#previousGuesses {
  overflow-y: auto;
  height: 9em;
}

